* {
    box-sizing:border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #333;
}

img {
    max-width:100%;
    height:auto;
}

a {
    color:$mainOrange;
}